cuda-python==11.8.1
nvidia-cudnn-cu11==8.7.0.84
-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda]
tensorflow
tensorflow-datasets
dm-haiku
optax
torch==1.12.1
torchvision==0.13.1
matplotlib
flax
pandas
jax-resnet
numpy
tqdm
scipy
soundfile
resampy